.container {
    padding: 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.label {
    margin: 5px;
}

.swiper-container {
    margin-top: -20px;
    min-height: 65vh;
}

.swiper-wrapper {
    padding: 50px;
}


/*
.bcPrincipal {
    background-color: white;
}

.bcSecundario {}

.txtPrincipal {}

.txtSecundario {}*/