.asunto{
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.textColumn{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imgColumn{
    width: 7%;
}
.userColumn{
    width: 10%;
}
.noColumn{
    width: 7%;
    max-width: 0;
    overflow: hidden;
}
.remove{
    width: 2%;
}
.report{
    width: 2%;
}
.date{
    width: 23%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.deleteIcon{
    width: 1.5rem;
    height: 1.5rem;
}
tr{
    height: 40px;
}
i.icon-warn{
    color: yellow;
}
a.big{
    font-size: 10px;
}